body {
    margin: 0;
    font-family:'MVideo',sans-serif;
    background: #edeef0;
}
header {
    margin: 0;
    width: 100%;
    position: fixed;
    margin-inside: 0;
    background: rgb(80, 114, 153);
    z-index: 4;
}
.head_logo{
    background-image: url("images/head_icons.png?4");
    display: inline-block;
    background-position: 0 -98px;
    height: 19px;
    width: 33px;
    margin: 11px 100px 0 0
}
.head_find{
    display: inline-block;
    border: 0;
    box-sizing: border-box;
    padding: 6px 6px 6px 19px;
    margin: 7px 0;
    height: 28px;
    line-height: 16px;
    width: 230px;
    border-radius: 14px;
    background-color: #305075;
    color: #d9e2ec;
}
.head_find:hover{
    color: black;
    background-color: white;
}
.head_switch{
    float: right;
    text-align: left;
}
.head_switch:hover{
    background-color:#305075;
}
.switch{
    display: inline-block;
    white-space: nowrap;
    line-height: 42px;
    height: 42px;
    overflow: hidden;
    padding: 0 10px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
    font-family: MVideo, sans-serif;
}
.wrapper {
    width: 80%;
    margin: auto;
    position: relative;
}
.window {
    padding: 65px 0 105px;
}
.content{
    margin: 0px;
    width: 760px;
    display: inline-block;
    text-align: center;
}
.zagolovok{
    font-weight:300;
    font-size: 22px;
    padding-top: 25px;
}
.podzagolovok{

    font-size: 14px;
    color: #222;
    line-height: 23px;
    margin-right: 115px;
    margin-left: 115px;
    padding-top: 10px;
}
.photo {
    padding-top: 20px;
}
.android{
    background-image: url("images/android_ru.png?4");
    width: 192px;
    height: 397px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
    position: relative;
    left: 40px;
    z-index: 0;
}
.ios{
    background-image: url("images/ios_ru.png?4");
    width: 192px;
    height: 397px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
    z-index: 1;
    position: relative;
}
.win_phone{
    background-image: url("images/wp_ru.png?4");
    width: 192px;
    height: 397px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
    z-index: 0;
    right: 40px;
    position: relative;
}
.os{
    background-color: transparent;
    color: #2a5885;
    display: inline-block;
    cursor: pointer;
    border: none;
    padding: 7px 16px 8px;
    font-size: 14px;
}
.icon{
    background-image: url("images/platforms.png");
    width: 18px;
    height: 22px;
    display: inline-block;
    margin: -1px 8px -7px 0;

}
.andr{
    background-position: 0px -23px;
}
.windows{
    background-position: 0px -45px;
}
.content2{

    display: inline-block;
    width: 314px;
    vertical-align: top;
}
.in {
    background: white;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db,
    0 0 0 1px #e3e4e8;
    position: relative;
    padding: 25px;
    margin: 30px 0 20px;

}
.email{
    margin-bottom: 15px;
    width: 270px;
    font-size: 14px;
    padding: 6px 12px 8px;
    box-sizing: border-box;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #d3d9de;
}
.password{
    width: 270px;
    font-size: 14px;
    padding: 6px 12px 8px;
    box-sizing: border-box;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #d3d9de;
    margin-bottom: 15px;
}
.but_in{
    width: 100px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 3px;
    padding: 7px 16px 8px;
    margin-top: 5px;
    background-color: #5e81a8;
    color: white;
    font-family: 'MVideo',sans-serif;
    border: 0px;
    cursor: pointer;
    margin-right: 15px;
}
.fogot{
    color: #2a5885;
    text-decoration: none;
    cursor: pointer;
    font-family: 'MVideo',sans-serif;
    font-size: 13px;
}
.reg_msg{
    margin: -4px 0 0;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}
.reg_msg_under{
    padding: 5px 0 21px;
    text-align: center;
    color: #656565;
    font-size: 12.5px
}
.reg_label{
    margin: 0 0 10px 1px;
    font-weight: 500;
    color: #939393;
    font-size: 13px;
}
.date{
    padding-bottom: 15px;
}
.date_day{
    width: 35px;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid #d3d9de;
}
.date_month{
    width:60px;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid #d3d9de;
}
.date_year{
    width:60px;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid #d3d9de;
}
.btn_reg{
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    border-radius: 3px;
    background-color: #5fb053;
    font-weight: 500;
    padding: 7px 16px 8px;
    margin-top: 10px;
    color: white;
    border: 0px;
    font-weight: 500;
    cursor: pointer;
}
.footer{
    position: absolute;
    bottom:auto;
    left: 0;
    right: 0;
    padding: 24px 15px 35px;
    border-top: 1px solid #e4e8ed;
    width: 1049px;
    z-index: 0;
    color: #828282;
    font-size: 12px;
    text-align: center;
}
.footer-left{
float: left;
}
.footer-right{
    float: right;
}
.footer-nav{
    padding: 2px 5px;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: #2a5885;
}
.clear{
    width: 40px;
}
div{
    display: block;
}