body {margin: 0}
.wrapper{
    width: 95%;
    margin: 0 auto ;
    border: dashed #d43f3a;
}
header{
    background-color: #4682b4;
    margin: 0;
    width: 100%;
}

.content{
   /* background-color: blanchedalmond;*/
}
footer{
    background-color:gray;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.form{
    background-color: yellow;
    width: 80%;
    display: inline-block;
    /*vertical-align: middle;*/
}
.window{
    background-color: chartreuse;
    width: 19%;
    display: inline-block;
    /*vertical-align: middle;*/
}


